@charset "utf-8";

html{
    font-family: 'Comfortaa', cursive,'Dosis', sans-serif,Helvetica,Arial,YuGothic,"游ゴシック体","Yu Gothic","游ゴシック","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    font-size:62.5%;
    background-color:#F8F8FF;	

}
nav {
    font-size: 2.5rem;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    min-width: 33%;
    background: #F8F8FF	;

    position: relative;
    padding:20px 0px;
    text-decoration: none; 

}
nav ul li a{
    text-decoration: none;
    color: #333;
}
#gnav span {
  position: relative;
  display: block;
  cursor: pointer;
}

#gnav span:before, span:after {
  content: '';
  position: absolute; 
  height: 3px;
  top: 115%;
  width: 0%;
  
  margin-top: 13px;
  background: #faa;
}
#gnav span:before{
  left: 0%;
}

#gnav span:after {
  right: 0%;
  background: #FAC609;
  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#gnav span:hover:before {
  background: #db5424;
  width: 100%;
  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#gnav span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

body{
       font-size:2.1rem;
    line-height: 1.5;
    text-align: center;

}


a {
    color: #db5424;
}

.siteTitle {
    background: #F8F8FF;
    color: #FAC609;
    font-size: 9rem;
    font-family: 'Dosis', sans-serif;
    padding: 180px 0;
}
.fixed{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 0px 0px rgba(0,0,0);
}

active{
  color: #db5424;
}
h2 {
  color: #db5424;
  font-size: 6rem;
  margin-top: 30px;
  text-align: left;
  margin-left: 32px;
}

#works{
	margin-left:80px;
 	margin-right:80px;
 	padding-bottom:30px;
}

#works .sample {
  display: inline-block;
  z-index: 0;
  width: 350px;
  height: 250px;
  object-fit: cover;
  object-position: 50% 20%
}
#works ul li{
  display:inline-block;
    z-index: 0;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
}

.btn span {
	display: inline-block;
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius:20px;
	font-size:25px;
	margin-top:200px;
	margin-left:-340px;

	border: 2px solid #F8F8FF;
	text-align: center;
	line-height: 40px;
	
}
.btn span:nth-child(1) {
	z-index:1;
	display:inline-block;
	overflow:hidden;
	color:transparent;
	transition-duration: 0.3s;
}
.btn span:nth-child(2) {
	background-color: #FAC609;
	color: #F8F8FF;
}
.btn:hover span:nth-child(1) {
	display:inline-block;
	border-radius:20px;
	border: 3px solid #db5424;
	width:330px;
	height:230px;
	margin-top:7px;
	background-color: #F8F8FF;
	color: #333	;
	transition-duration: 0.3s;

}
.btn:hover span:nth-child(2) {
	z-index:0;
}
#profile{
	padding-bottom:30px;
	margin-left:80px;
 	margin-right:80px;
 	
}
#profile p{
	color:333;
	margin-left:20px;
	margin-right:10px;
}
#profile .sample{
	width:80%;
	border-radius:300px;
}
#profile .blocka{
	float: left;
    width: 30%;
    padding-left:0px;


}
#profile .blockb{
    text-align:left;
    margin-left:30%;
    border-left:medium dotted #FAC609;
}

#skill{
	padding-bottom:30px;
	margin-left:80px;
 	margin-right:80px;
}
#skill div.blocka {
   float: left;
   width: 33%;
   border-right:medium dotted #FAC609;
}
#skill div.blockb {
   float: left;
   width: 33%;
   border-right:medium dotted #FAC609;
}
#skill div{
	line-height:40px;
}

footer{
	background:#FAC609;
	margin-top:220px;
	padding:90px;
}

